 .u-section-1 {
  background-image: none;
  min-height: 1102px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 216px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 798px;
  width: 663px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -684px calc(((100% - 1140px) / 2) + 66px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 28px -39px 0 100px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 44px 14px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -14px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-rotation-parent-1 {
  width: 100px;
  height: 276px;
  margin: -818px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 276px;
  height: 100px;
}

.u-section-1 .u-rotation-parent-2 {
  width: 62px;
  height: 184px;
  margin: -34px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 184px;
  height: 62px;
}

.u-section-1 .u-rotation-parent-3 {
  width: calc(((100% - 1140px) / 2) + 82px);
  height: 288px;
  margin: -425px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 288px;
  height: 132px;
}

.u-section-1 .u-rotation-parent-4 {
  width: calc(((100% - 1140px) / 2) + 16px);
  height: 179px;
  margin: -45px auto 60px 0;
}

.u-section-1 .u-shape-4 {
  width: 179px;
  height: 66px;
  transform: scaleX(-1);
  transform-origin: center center 0px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -584px;
    margin-right: calc(((100% - 940px) / 2) + 66px);
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 339px;
    height: 74px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-1 .u-shape-3 {
    height: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-1 .u-rotation-parent-4 {
    width: calc(((100% - 940px) / 2) + 16px);
  }

  .u-section-1 .u-shape-4 {
    height: calc(((100% - 940px) / 2) + 16px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 976px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -474px;
    margin-right: calc(((100% - 720px) / 2) + 57px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-rotation-parent-3 {
    width: calc(((100% - 720px) / 2) + 82px);
  }

  .u-section-1 .u-shape-3 {
    height: calc(((100% - 720px) / 2) + 82px);
  }

  .u-section-1 .u-rotation-parent-4 {
    width: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-shape-4 {
    height: calc(((100% - 720px) / 2) + 16px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 802px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 270px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -384px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-rotation-parent-3 {
    width: calc(((100% - 540px) / 2) + 82px);
  }

  .u-section-1 .u-shape-3 {
    height: calc(((100% - 540px) / 2) + 82px);
  }

  .u-section-1 .u-rotation-parent-4 {
    width: calc(((100% - 540px) / 2) + 16px);
  }

  .u-section-1 .u-shape-4 {
    height: calc(((100% - 540px) / 2) + 16px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    height: 78px;
    margin-top: 224px;
    margin-left: calc(((100% - 340px) / 2) + -60px);
  }

  .u-section-1 .u-group-1 {
    min-height: 556px;
    width: 324px;
    margin-top: -292px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 81px;
    height: 196px;
    margin-top: -630px;
    margin-right: calc(((100% - 340px) / 2) + -67px);
  }

  .u-section-1 .u-shape-1 {
    width: 196px;
    height: 81px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -78px;
    margin-right: calc(((100% - 340px) / 2) + -81px);
  }

  .u-section-1 .u-rotation-parent-3 {
    width: calc(((100% - 340px) / 2) + 16px);
    height: 218px;
    margin-top: -304px;
  }

  .u-section-1 .u-shape-3 {
    width: 218px;
    height: 66px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: calc(((100% - 340px) / 2) + 16px);
    margin-top: 270px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-shape-4 {
    height: calc(((100% - 340px) / 2) + 16px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1740px;
}

.u-section-2 .u-text-1 {
  margin: 190px 498px 0 38px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -439px auto 0 74px;
}

.u-section-2 .u-shape-1 {
  width: 604px;
  height: 469px;
  margin: -109px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 611px;
  height: 469px;
  margin: -456px auto 0 16px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 250px;
  height: 250px;
  margin: -507px 16px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 250px;
  height: 250px;
  transform: scaleY(-1);
  transform-origin: center center 0px;
}

.u-section-2 .u-image-1 {
  width: 552px;
  height: 325px;
  margin: 309px auto 0 -37px;
}

.u-section-2 .u-text-2 {
  margin: -371px 87px 0 490px;
}

.u-section-2 .u-shape-4 {
  width: 600px;
  height: 367px;
  margin: -331px 74px 0 auto;
}

.u-section-2 .u-shape-5 {
  width: 605px;
  height: 364px;
  background-image: none;
  margin: -355px 57px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 68px;
  height: 68px;
  margin: -338px auto 0 506px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 343px 432px 0 38px;
}

.u-section-2 .u-shape-6 {
  width: 667px;
  height: 486px;
  margin: -528px auto 0 0;
}

.u-section-2 .u-shape-7 {
  width: 667px;
  height: 498px;
  margin: -471px auto 0 16px;
}

.u-section-2 .u-icon-3 {
  width: 67px;
  height: 67px;
  margin: -478px auto 0 74px;
  padding: 0;
}

.u-section-2 .u-shape-8 {
  width: 250px;
  height: 250px;
  margin: 226px 16px 44px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2150px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 336px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    margin: -380px 19px 0 auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 417px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 116px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 157px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 319px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2130px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-6 {
    width: 540px;
  }

  .u-section-2 .u-shape-7 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2337px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -610px;
    margin-left: 18px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: -129px;
    margin-left: -16px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -458px;
    margin-left: -3px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: -287px;
    margin-right: -36px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-top: 124px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    height: 422px;
    margin-top: -472px;
    margin-right: auto;
    margin-left: -12px;
  }

  .u-section-2 .u-shape-5 {
    height: 442px;
    margin-top: -408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -411px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 411px;
    margin-right: -22px;
    margin-left: 22px;
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
    height: 736px;
    margin-top: -804px;
    margin-left: -12px;
  }

  .u-section-2 .u-shape-7 {
    height: 777px;
    margin-top: -720px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-3 {
    width: 60px;
    height: 60px;
    margin-top: -727px;
    margin-bottom: 60px;
    margin-left: 14px;
  }
} .u-section-3 {
  background-image: linear-gradient(#292e33, #999999);
  min-height: 1376px;
}

.u-section-3 .u-group-1 {
  min-height: 430px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#1a1a1a, #292e33);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-map-1 {
  width: 1025px;
  height: 512px;
  margin: 75px auto -157px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 966px;
  margin: 282px calc(((100% - 1140px) / 2) + 72px) 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 574px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 53px 422px 0 443px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 38px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 38px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2223em;
  color: rgb(0, 0, 0) !important;
  padding: 2px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 183px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-5 {
  width: 313px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px auto 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  width: 723px;
  background-image: none;
  margin: -188px calc(((100% - 1140px) / 2) + 194px) 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 188px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 217px;
  height: 121px;
  margin: 33px -18px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 188px;
}

.u-section-3 .u-container-layout-4 {
  padding: 13px 4px;
}

.u-section-3 .u-image-2 {
  width: 121px;
  height: 121px;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 188px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 160px;
  height: 117px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 188px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 224px;
  margin: -18px auto;
}

.u-section-3 .u-rotation-parent-1 {
  width: calc(((100% - 1140px) / 2) + 75px);
  height: 250px;
  margin: -733px auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 125px;
}

.u-section-3 .u-rotation-parent-2 {
  width: calc(((100% - 1140px) / 2) + 40px);
  height: 189px;
  margin: -60px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 189px;
  height: 90px;
}

.u-section-3 .u-rotation-parent-3 {
  width: 125px;
  height: 250px;
  margin: 269px 0 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 250px;
  height: 125px;
}

.u-section-3 .u-rotation-parent-4 {
  width: 104px;
  height: 208px;
  margin: -419px 0 60px auto;
}

.u-section-3 .u-shape-4 {
  width: 208px;
  height: 104px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1714px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-map-1 {
    width: 880px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 409px;
    margin-left: 430px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-right: calc(((100% - 940px) / 2) + 194px);
  }

  .u-section-3 .u-image-1 {
    width: 181px;
    height: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-3 .u-shape-1 {
    height: calc(((100% - 940px) / 2) + 75px);
    margin: -111px auto 0 -80px;
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 940px) / 2) + 40px);
  }

  .u-section-3 .u-shape-2 {
    height: calc(((100% - 940px) / 2) + 40px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1441px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 85px;
  }

  .u-section-3 .u-map-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 299px;
    margin-left: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 374px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 374px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-3 .u-shape-1 {
    height: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 720px) / 2) + 40px);
  }

  .u-section-3 .u-shape-2 {
    height: calc(((100% - 720px) / 2) + 40px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2750px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-map-1 {
    width: 520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-right: 209px;
    margin-left: 230px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 561px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-3 .u-shape-1 {
    height: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-3 .u-shape-2 {
    height: calc(((100% - 540px) / 2) + 40px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2386px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-3 .u-map-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 874px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 109px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    width: 122px;
    margin-top: 176px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
    margin-top: -561px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 97px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 108px;
    margin-bottom: -41px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 97px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -197px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 109px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -72px;
    margin-right: 6px;
    margin-bottom: -43px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: calc(((100% - 340px) / 2) + 75px);
    margin-top: 176px;
  }

  .u-section-3 .u-shape-1 {
    height: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 340px) / 2) + 40px);
  }

  .u-section-3 .u-shape-2 {
    height: calc(((100% - 340px) / 2) + 40px);
  }

  .u-section-3 .u-rotation-parent-4 {
    margin-bottom: 0;
  }
}